.whole-wrapper {
    /* width: 100%; */
    /* background-color: #f3f3f3; */
    /* background-color: red; */
}

.body-wrapper {
    /* width: 1170px; */
    /* margin: 0 auto; */

}

/* *************************************** css for header ****************************************/

.header-wrapper {
    /* width: 1160px; */
    /* margin: 0 auto; */
}

.header-top-wrapper {
    /* width: 1160px; */
    /* padding: 0 auto; */
    background-color: #76c7c1;
}

.header-top {
    width: 1160px;
    margin: 0 auto;
}

.header-bottom {
    width: 1160px;
    margin: 0 auto;
}

.header-bottom-wrapper {
    /* width: 1160px; */
    /* margin: 0 auto; */
    background-color: #ececec;
    /* background-color: green; */
}

.logo-wrapper {
    float: left;
}

.header-menu {
    float: right;
}

.nav-wrapper {
    float: left;
}

.nav li {
    float: left;
}

.search-wrapper {
    float: right;
}

.search-form {
    display: none;
}

.current-page {
    float: left;
}

.nav-links li {
    float: left;
}

.nav-links {
    float: right;
}

/* *************************************** css for body ****************************************/
.body-wrapper {
    width: 100%;
    background-color: #f3f3f3;
}

.main-body {
    width: 1170px;
    margin: 0 auto;
}

.overview-wrapper {
}

.overview-head {
    width: 1140px;
    text-align: justify;
}

.overview .col3-left .left-container {
    width: 310px;
    float: left;
}

.overview .col3-left .right-container {
    float: right;
    /* width: 310px; */
}

.right-container .main {
    float: left;
    width: 550px;
}

.graph {
    margin: 5px;
}

.graph-value {
    color: red;
}

.graph-1 {
    width: 124px;
    height: 60px;
    background-image: url("../images/meter1.png");
    background-repeat: no-repeat;
    position: relative;
}

.graph-2 {
    width: 124px;
    height: 60px;
    background-image: url("../images/meter2.png");
    background-repeat: no-repeat;
}

.graph-3 {
    width: 124px;
    height: 60px;
    background-image: url("../images/meter3.png");
    background-repeat: no-repeat;
}

.graph-4 {
    width: 124px;
    height: 60px;
    background-image: url("../images/meter4.png");
    background-repeat: no-repeat;
}

.right-container .right {
    float: right;
    width: 274px;
}

.main li {
    float: left;
}
.our-clients-head{
    width: 1170px;
}
.our-motto{
    width: 100%;
}
.our-clients li{
    float: left;
    margin-left: 5px;
}
.client-image {
    width: 170px;
    height: 90px;
    background-image: url("../images/client-image.png");
    background-repeat: no-repeat;
}

.our-team-wrapper {
    width: 1170px;
    /* width: 100%; */
    margin: 0 auto 0 auto;
    text-align: center;
    /* align-content: center; */
}

.team-info-wrapper {
    /* width: 100%; */

}

.team-card-wrapper {
    width: 270px;
    height: 338px;
    /* padding: 3px; */
    /* background-color: red; */
    background-image: url("../images/no-image.png");
    background-repeat: no-repeat;
    float: left;
}

.team-card-background {
    /* background-image: url("../images/no-image.png"); */
}
.team-card-foreground {
    display: none;
    /* display: block; */
    width: 270px;
    height: 314px;
    padding: 37px 35px 15px 38px;
    background-image: url("../images/background-on-hover.png");
    background-repeat: no-repeat ;
}
.team-card-foreground .card-info{
    text-align: left;
    width: 224px;
}
.team-card-foreground li{
    list-style: none;
    margin: 10px 5px;
    float: left;
}
.team-card-wrapper-l {
    margin-right: 30px;
}

.team-card-wrapper-lm {
    margin-right: 30px;
}

.team-card-wrapper-rm {
    margin-right: 30px;
}

.team-card-wrapper-r {
    margin-right: 0px;
}

.team-card-background {
    position: relative;
    /* width: 100px; */
    /* padding: 3px; */
    /* height: 110px; */
    /* background-color: transparent; */
}

.team-card-name {
    position: absolute;
    top: 284px;
    left: 35px;
    /* text-align: center; */
    /* right: 10px; */
    /* bottom: -30px; */
    width: 200px;
    height: 54px;
    background-image: url("../images/card-name-bg.png");
    background-repeat: no-repeat ;
}
.team-card-wrapper:hover{
    cursor: pointer;
}
.team-card-wrapper:hover .team-card-name{
    
    background-image: url("../images/card-name-bg-hover.png");
    background-repeat: no-repeat ;
}
.team-card-wrapper:hover .team-card-foreground{
    display: block;
    
    /* background-image: url("../images/background-on-hover.png"); */
    background-repeat: no-repeat ;
}
.name{
    position: relative;
    /* top: 12px;
    left: 66px; */
    line-height: 54px;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 22px;

}
/* *************************************** css for footer *************************************** */
.footer-wrapper {
    background-color: #76c7c1;
    
}

.footer-top-wrapper {
    width: 1167px;
    margin: 0 auto;
}

.footer-bottom-wrapper {
    background-color: #6bb4ad;
}

.footer-top {
    width: 1170px;
    float: left;
    padding-top: 50px;
    padding-bottom: 45px;
}

.footer-bottom {
    width: 1170px;
    /* height: 50px; */
    margin: 0 auto;
   
}

.footer-bottom li {
    float: left;
}

.intro {
    width: 395px;
    /* margin-right: 5px; */
    float: left;
}

.information {
    float: left;
}

.company {
    width: 202px;
    /* margin-right: 5px; */
    float: left;
}

.community {
    width: 198px;
    /* margin-right: 5px; */
    float: left;
}

.blog-links {
    /* height: 100px; */
    width: 375px;
    /* margin-right: 5px; */
    /* background-color: red; */
    float: left;
}

.blog-link {
    height: 70px;
    margin-bottom: 20px;
}

.blog-thumbnail {
    width: 70px;
    height: 70px;
    margin-right: 18px;
    background-image: url("../images/blog-thumbnail.png");
    background-repeat: no-repeat;
    float: left;
}

.blog-data {
    /* float: right; */
    width: 170px;
}

.copyright {
    float: left;
    margin: 22px 0px 18px 0px;
}

.footer-bottom .social-media-links {
    float: right;
    margin: 13px 0;
}