header .content {
    /* line-height: 100px; */
}

header .content .logo {
    float: left;
    padding: 36px 0 36px 0;
}

header .content .logo a {
    display: block;
}

header .content nav {
    float: right;
    padding: 40px 0 41px 0;
    text-transform: uppercase;
}

header .content nav li {
    padding: 17px 26px;
    /* margin-left: 0 5px; */
}

header .content nav li a {
    display: block;
    height: 100%;
    width: 100%;
}

/* ************************************************************* */
.hero .content {
    padding-top: 270px;
    padding-bottom: 250px;
}

.hero .content h1 {
    line-height: 163px;
}

.hero .content .btn {
    /* display: block; */
    width: 15.625em;
    height: 70px;
    margin: 0 auto;
}

.hero .content .btn:hover {
    cursor: pointer;
}

.hero .content .btn {
    text-align: center;
    /* color: white; */
}

.hero .content .btn a {
    line-height: 70px;
    width: 100%;
}

/* ************************************************************* */
.services .content {
    /* height: 600px; */
    padding-top: 85px;
    padding-bottom: 85px;
}

.services .service {
    display: block;
    float: left;
    height: 100%;
}

.service-wrapper {
    padding-bottom: 84px;
}

.service-wrapper ul li {
    width: 23.076923%;
    margin-right: 30px;
    float: left;
}

.service-wrapper ul li:nth-last-child(1) {
    margin-right: 0px;
}

.service figure img {
    display: block;
    margin: 0 auto;
    padding-bottom: 27px;
}

.service figcaption {
    padding-bottom: 50px;
}

.service p {
    padding-bottom: 65px;
}

.services .content .btn {
    display: block;
    width: 15.625em;
    height: 70px;
    margin: 0 auto;
}

.services .content .btn:hover {
    cursor: pointer;
}

.services .content .btn {
    text-align: center;
}

.services .content .btn a {
    line-height: 70px;
    width: 100%;
}

/* ************************************************************* */
.browser-add .container {
    background-image: linear-gradient(#ff6c54, #ff3558);
}